// @Author: Andreee "DevelDoe" Ray
// @Date:   2017-02-20T13:54:23+01:00
// @Email:  me@andreeray.se
// @Filename: app.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-26T21:38:30+01:00

@import 'base/variables';
@import 'components/top-bar';
@import 'components/clock';
@import 'components/controls';

body{
    font-weight: 300;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
}
*:focus {
    outline: none;
}
p {
    color: #252525
}
a {
    color: #fff;
    font-weight: 400;
}
a:hover{
    color:#9cdbf5;
}
