// @Author: Andreee "DevelDoe" Ray
// @Date:   2017-02-22T16:07:48+01:00
// @Email:  me@andreeray.se
// @Filename: _variables.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-26T04:13:48+01:00


// colors
$black: #252525;

// navigation colors
$topbar-background: $black;

// text
$letter-spacing: 3px;
$font-size: 13px;

// clock
$clock-text-color: white;
$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;
