// @Author: Andreee "DevelDoe" Ray
// @Date:   2017-02-22T16:07:48+01:00
// @Email:  me@andreeray.se
// @Filename: _variables.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-22T22:21:52+01:00


// colors
$black: #252525;

// navigation colors
$topbar-background: $black;

// text
$letter-spacing: 3px;
$font-size: 13px;
